<a href="https://colab.research.google.com/github/Sai-Prathik/Neural-Networks/blob/main/Neural_Networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv("/content/drive/MyDrive/Neural Networks/weatherHistory.csv")
dataset.drop()

       Temperature (C)  ...  Apparent Temperature (C)
0             9.472222  ...                  7.388889
1             9.355556  ...                  7.227778
2             9.377778  ...                  9.377778
3             8.288889  ...                  5.944444
4             8.755556  ...                  6.977778
...                ...  ...                       ...
96448        26.016667  ...                 26.016667
96449        24.583333  ...                 24.583333
96450        22.038889  ...                 22.038889
96451        21.522222  ...                 21.522222
96452        20.438889  ...                 20.438889

[96453 rows x 7 columns]

In [17]:
def init_weights(n,k):
  l=[]
  for i in range(k):
   l.append(np.random.uniform(-1,1,n))
  return np.array(l)

Feed Forward Network

In [23]:
class FeedForward:
  def __init__(self,n_inputs,n_neurons,lr_rate=None):
    self.w1=init_weights(n_inputs,n_neurons)
    self.w2=init_weights(1,n_neurons)
    self.b1=init_weights(1,n_neurons)
    self.b2=init_weights(1,1)
    self.lr_rate=lr_rate
    self.h1=None
    self.h2=None
  
  def sigmoid(self,X):
     
    return 1/(1+np.exp(-X))

  def calc(self,X):
     
    self.h1=model.sigmoid(np.dot(self.w1,X.reshape(-1,1))+self.b1)
    self.h2=np.dot(self.w2.T,self.h1)+self.b2
     
    return self.h2

In [18]:
ff=FeedForward(6,13)